<!-- *Start Header-->
<div class="callout" align="center" style="background-color: #000000">
  <h1 style="color: #ff3333"><strong>CONTACT US</strong></h1>
  <img alt="" src="https://media.thecapitalgrille.com/images/site/rs-title-line.png">
  <h5 style="color: #ff3333">*SIGN UP AND TELL US ABOUT YOUR EXPERIENCE*</h5>
<img alt="" src="https://media.thecapitalgrille.com/images/site/rs-title-line.png">
</div>

<!-- *End Content-->


<!-- *Start Content-->
<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="usa">USA</option>
      <option value="canada">Canada</option>
    </select>

    <label for="subject">Your Experience</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">


  </form>
</div>

<!-- *End Content-->
