

<!-- *Begin Conetnt-->

<!-- *Begin Callout-->
<div class="callout" align="center" style="background-color: #000000">
  <h1 style="color: #ff3333"><strong>CRISSIX FOODS</strong></h1>
  <img alt="" src="https://media.thecapitalgrille.com/images/site/rs-title-line.png">
  <h5 style="color: #ff3333">"It is our sole desire that everything, and we mean everything, that arrives at your table will delight you. To that end, we use only the finest, freshest ingredients, masterfully prepared in recipes designed to engage all of your senses."</h5>
  <img alt="" src="https://media.thecapitalgrille.com/images/site/rs-title-line.png">
  <p style="color: #ff3333"></p>

  </div>
</div>
<!-- *End Callout-->
<!-- *Start Menu -->
<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1><b>Sandwiches</b></h1>
  </div>
</div>
<div class="container-md menu-list-container">
        <div class="menu-item-container">
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
          <img src="https://www.seriouseats.com/recipes/images/2015/07/20150702-sous-vide-hamburger-anova-primary-1500x1125.jpg" alt="Burger" style="width:40%;">
          <ul style="color: #fefefe">
<h3 style="text-align: center;"><li><strong>PREMIUM BURGER</strong><h3>
<h4 style="color: #ff3333"><p>Grass-fed beef burger, turkey bacon, reduced fat cheddar cheese, romaine, tomatoes and onions with our zero carb signature sauce served on a whole wheat bun</p><h4>
     </ul>
   </div>
 </div>
</li>
<img alt="" src="https://media.thecapitalgrille.com/images/site/rs-title-line.png" />
<div class="container-md menu-list-container">
        <div class="menu-item-container">
          <ul style="color: #fefefe">
<h3 style="text-align: center;"><li><strong>CHICKEN BREAST SIGNATURE SANDWICH</strong><h3>
<h4 style="color: #ff3333"><p>Grilled chicken breast, turkey bacon, reduced fat cheddar cheese, romaine, tomatoes and onions with our zero carb signature sauce served on a whole wheat bun</p><h4>
   </div>
 </div>
</li>
<!-- *End Sandwiches -->

<!-- *Start Salads -->
<div class="marketing-site-hero2">
  <div class="marketing-site-hero-content">
    <h1><b>Salads</b></h1>
  </div>
</div>

<div class="container-md menu-list-container">
        <div class="menu-item-salads">
          <ul style="color: #fefefe">
<h3 style="text-align: center;"><li><strong>MARDI GRAS GRILLED CHICKEN</strong><h3>
<h4 style="color: #ff3333"><p>Cajun seasoned grilled chicken breast with turkey bacon, power blend, tomatoes, onions and low carb dressing</p><h4>
   </div>
 </div>
</li>

<img alt="" src="https://media.thecapitalgrille.com/images/site/rs-title-line.png" />

<div class="container-md menu-list-container">
        <div class="menu-item-container">
          <ul style="color: #fefefe">
<h3 style="text-align: center;"><li><strong>ITALIANO</strong><h3>
<h4 style="color: #ff3333"><p>Grilled chicken breast, mozzarella, fresh spinach, roasted red peppers, romaine, gluten & fat free vinaigrette</p><h4>
   </div>
 </div>
</li>

<!-- *End Salads -->

<!-- *Start Wraps -->
<div class="marketing-site-hero3">
  <div class="marketing-site-hero-content">
    <h1><b>Wraps</b></h1>
  </div>
</div>

<div class="container-md menu-list-container">
        <div class="menu-item-container">
          <ul style="color: #fefefe">
<h3 style="text-align: center;"><li><strong>EUROPEAN</strong><h3>
<h4 style="color: #ff3333"><p>Grilled chicken, savory spinach, roasted peppers and parmesan</p><h4>
   </div>
 </div>
</li>
<img alt="" src="https://media.thecapitalgrille.com/images/site/rs-title-line.png" />
<div class="container-md menu-list-container">
        <div class="menu-item-container">
          <ul style="color: #fefefe">
<h3 style="text-align: center;"><li><strong>CHICKEN CAESAR</strong><h3>
<h4 style="color: #ff3333"><p>Grilled chicken with romaine lettuce, zero carb Caesar dressing and topped with a touch of parmesan cheese</p><h4>
   </div>
 </div>
</li>

<!-- *Begin Smoothie -->
<div class="marketing-site-hero4">
  <div class="marketing-site-hero-content">
    <h1><b>Smoothies</b></h1>
  </div>
</div>

<div class="container-md menu-list-container">
        <div class="menu-item-container">
          <ul>
          <h2 style="text-align: center">
          <strong><li style="color: #ff8243">Mango Tropics</li>
          <li style="color: #8d4e85">Ultra Berry</li>
          <li style="color: #ff43a4 ">Strawberry</li>
          <li style="color: #ffa500">Orange</li>
          <li style="color: #ffdab9">Peach</li>
          <li style="color: #eeff94">Melon</li>
          </strong><h2>
          </ul>
  </div>
</div>

<!-- *End Smoothie-->


<!-- *End Menu-->




<!-- *End Root Page Code -->
